@font-face {
    font-family: "PP Editorial New";
    src: url("../fonts/PPEditorialNEW-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ArialNarrow.ttf") format("opentype");
}

:root {
    font-size: 100%;
    --font-family: "PP Editorial New";
    --font-family2: "Arial Narrow";
    --color1: #FFFFFF;
    --color2: #191919;
    --brat: #8ACE02;
    --lineheight: 95%;
    --textL: 4rem;
    --textM: 2rem;
    --textS: 1rem;

    --spaceL: 3rem;
    --spaceM: 2rem;
    --spaceS: 1rem;
}

body {
    font-family: var(--font-family);
    font-weight: 200;
    p {
        font-size: var(--textS);
        max-width: 60ch;
    }
}

article {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    padding: var(--spaceL);
    display: grid;
    grid-template-columns: 2fr 1fr;
    p{
        padding: var(--spaceS);
    }
    @media (width <600px ){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

div {
    padding-block: var(--spaceL);
    opacity: 0.2;
    transition: all 0.5s ease-in-out;

    &.scrollhighlight {
        opacity: 1;
        
    }


    @media (width <600px ){
        padding-block: var(--spaceS);
    }

}

img {
    object-fit: contain;

}

h1 {

    font-size: var(--textL);
    font-family: var(--font-family2);
    text-align: center;
    cursor: pointer;
    padding-block: var(--spaceS);
    line-height: var(--lineheight);
    
    &.highlight {
        background-color: var(--brat);
        transform: scale(1.2);
        text-transform: uppercase;

        @media (width < 600px) {
            transform: scale(1.08);    
        }
    }
}



.header {
    padding: var(--spaceL);
    text-align: center;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

footer {
    margin-block: calc(var(--spaceL)*2);
    display: flex;
    flex-direction: row;
    gap: var(--spaceM);
    padding-inline: var(--spaceL);

    p {
        text-align: center;
        font-family: var(--font-family2);
        background-color: var(--color2);
        color: var(--color1);   
    }

     @media (width <600px ){
        flex-direction: column;
        padding-inline: 0;
    }

}